# Build outputs
/build
/out

# Gradle
.gradle
*.iml

# IDE
.idea/

# macOS
.DS_Store

# Android
*.apk
*.aab
*.dex
local.properties
captures/
.externalNativeBuild
.cxx/

# Google Services
google-services.json

# Test results
/test-results/
/test-output/
*.log
