<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- For downloading media files (Android 9 and below only) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->


    <application
        android:name=".MafetApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:usesCleartextTraffic="true">

<!--        <activity-->
<!--            android:name=".main.MainActivity"-->
<!--            android:exported="true"-->
<!--            android:windowSoftInputMode="adjustResize">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustResize"
            />

        <activity-alias
            android:name="com.hrudhaykanth116.mafet.MainActivityAlias"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_normal"
            android:roundIcon="@mipmap/ic_launcher_normal_round"
            android:targetActivity=".main.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name="com.hrudhaykanth116.mafet.MainActivityPremiumAlias"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_premium"
            android:roundIcon="@mipmap/ic_launcher_premium_round"
            android:label="MAFET Pro"
            android:targetActivity=".main.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7885198220580020~1748771250" />

        <receiver
            android:name=".notification.TodoNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hrudhaykanth116.mafet.SHOW_TODO_NOTIFICATION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>